<h1>Classic Burger</h1><h1 id = "sequel-color">2</h1>
<br>
<br>
<br>
<br>
<p class="lead">World Famous Burgers Made From Grass Fed Cows and Farm to Table Ingredients.</p>
<hr class="my-4">

<img src="https://i.imgur.com/WnCvQdb.gif" alt="Burger Pic">
<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-default">
      <h2>Orders</h2>
      <div class="panel-body">

        <ol>
          {{#each burgers}}
          {{#unless devoured}}
          <li>
            {{this.burger_name}}
            {{!-- {{> burgers/burger-block devoured=true}} --}}
            <form class="inline-form" action="/?_method=PUT" method="POST">
            <input type="hidden" id="burger-id" name="id" value="{{this.id}}"/>
              <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
                {{#unless devoured}}DEVOUR!{{/unless}}
                </button>
            </form>
          </li>
          {{/unless}}
          {{/each}}
        </ol>
        <br>
      </div>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="panel panel-default">
      <h2>Devoured!</h2>
      <div class="panel-body">
        <ol>
          {{#each burgers}}
          {{#if devoured}}

          {{this.burger_name}}
          <br>

          {{/if}}
          {{/each}}
        </ol>
        <br>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>

<h2>Make Your Burger</h2>


<form class="form" method="POST" action="/">
  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <button type="submit">Place an Order</button>
</form>